<div>
    <app-page-title
        title="Geração de certificado"
        subtitle="Preencha os dados para gerar um novo certificado."
    />

    <div class="card border border-gray-300 max-w-168 p-8 mx-auto">
        <div class="card-body flex flex-col">
            <div class="mb-3 flex flex-col">
                <label for="name">Nome</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="digite seu nome..."
                    class="border border-gray-200"
                />
            </div>
        </div>
    </div>
</div>
