<div>
    <app-page-title
        title="Certificados gerados"
        subtitle="Visualize todos os certificados gerados."
    />

    <div class="card border border-gray-300 max-w-168 py-16 px-8 mx-auto">
        <div class="card-body flex flex-col justify-center">
            <div class="mb-5 flex justify-center">
                <i
                    class="ph ph-[certificate] w-12 h-12 text-[#64748B] font-semibold"
                ></i>
            </div>
            <div class="text-center mb-5">
                <h2 class="font-bold tex-[#1A2856]">Nenhum certificado gerado</h2>
                <small class="text-sm text-[#64748B]">Gere certificados para consultar o histórico</small>
            </div>
            <div class="flex justify-center">
                <app-secundary-button label="Gerar certificado" />
            </div>
        </div>
    </div>
</div>
