/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin 'phosphor-icons-tailwindcss';

/* Custom background for certificate */
.bg-certificate {
    background-image: url('/certificate/certificate_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
