<section class="max-w-200 mx-auto">
    <div class="flex flex-row justify-between items-centermb-4">
        <a href="#" class="text-sm flex flex-row items-center text-[#1A2856] hover:text-[#0d1a3b] transition duration-300">
            <i class="ph ph-[arrow-left] w-4 h-4 inline-block mr-2"></i>
            Voltar
        </a>
        <app-secundary-button label="Download" icon="ph-[download]"/>
    </div>
    <div class="mt-8 w-220 h-[550px] bg-cover rounded-xl bg-certificate">

    </div>
</section>
